@{
    ViewData["Title"] = "Книга сотрудников";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в реестр!</h1>
    <a href="/" class="btn btn-lg btn-warning rounded-circle">Начать просмотр</a>
</div>